### Importing libraries

In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly

In [85]:
# read file
batting_df=pd.read_csv("ODIs_batting.csv")

In [86]:
batting_df.head(4)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34

In [87]:
batting_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   Player      2500 non-null   object
 2   Span        2500 non-null   object
 3   Mat         2500 non-null   int64
 4   Inns        2500 non-null   object
 5   NO          2500 non-null   object
 6   Runs        2500 non-null   object
 7   HS          2500 non-null   object
 8   Ave         2500 non-null   object
 9   BF          2500 non-null   object
 10  SR          2500 non-null   object
 11  100         2500 non-null   object
 12  50          2500 non-null   object
 13  0           2500 non-null   object
dtypes: int64(2), object(12)
memory usage: 273.6+ KB

In [88]:
# drop rows with '-' sign in every columns
df=batting_df
index = df[(df["HS"] == '-')|(batting_df['Inns']=="-")|(batting_df['0']=="-")|(batting_df['50']=="-")|(batting_df['100']=="-")|(batting_df['SR']=="-")|(batting_df['SR']=="-")| (batting_df['BF']=="-") | ( batting_df['NO']=="-") | (batting_df['Runs']=="-") | (batting_df['Ave']=="-")].index
batting_df.drop(index,inplace=True)

In [89]:
# Remove * from highest score
batting_df['HS']=batting_df['HS'].str.replace("*","")

In [90]:
# Convert object into numerical data
batting_df['Mat']=batting_df['Mat'].astype('int')
batting_df['Inns']=batting_df['Inns'].astype('int')
batting_df['NO']=batting_df['NO'].astype('int')
batting_df['Runs']=batting_df['Runs'].astype('int')
batting_df['HS']=batting_df['HS'].astype('int')
batting_df['Ave']=batting_df['Ave'].astype("float")
batting_df['BF']=batting_df['BF'].astype('int')
batting_df['SR']=batting_df['SR'].astype('float')
batting_df['100']=batting_df['100'].astype('int')
batting_df['50']=batting_df['50'].astype('int')
batting_df['0']=batting_df['0'].astype('int')

In [91]:
batting_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2369 entries, 0 to 2489
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2369 non-null   int64
 1   Player      2369 non-null   object
 2   Span        2369 non-null   object
 3   Mat         2369 non-null   int32
 4   Inns        2369 non-null   int32
 5   NO          2369 non-null   int32
 6   Runs        2369 non-null   int32
 7   HS          2369 non-null   int32
 8   Ave         2369 non-null   float64
 9   BF          2369 non-null   int32
 10  SR          2369 non-null   float64
 11  100         2369 non-null   int32
 12  50          2369 non-null   int32
 13  0           2369 non-null   int32
dtypes: float64(2), int32(9), int64(1), object(2)
memory usage: 194.3+ KB

In [92]:
batting_df["Span"].value_counts()

2019-2019    94
2018-2019    37
2017-2019    35
2016-2019    31
2003-2003    31
             ..
1984-1992     1
1983-1992     1
1976-1986     1
1992-2006     1
2002-2017     1
Name: Span, Length: 565, dtype: int64

In [93]:
batting_df.drop(labels=['Unnamed: 0'],axis=1,inplace=True)

In [94]:
len(batting_df)

2369

In [95]:
# Adding nation,name for players to dataset
country=[]
name=[]
for i in list(batting_df["Player"]):
    x=i.split("(")
    country.append(x[1][:-1])
    name.append(x[0])

c=pd.DataFrame()
c["nation"]=country

c['nation']=c['nation'].str.replace("Asia","")
c['nation']=c['nation'].str.replace("/","")
c['nation']=c['nation'].str.replace("ICC","")

# adding nation column to dataset
batting_df['Nation']=c['nation']
batting_df["Player"]=name

In [96]:
batting_df['Nation'].unique()

array(['INDIA', 'SL', 'AUS', 'PAK', 'AfrSA', 'WI', 'NZ', 'SA', 'ENGIRE',
       'BDESH', 'ZIM', 'ENG', 'AfrZIM', 'IRE', 'AfrKENYA', 'AUSSA', 'AFG',
       'SCOT', 'KENYA', 'CAN', 'NL', 'AUSNZ', 'UAE', 'ENGPNG', 'HKG',
       'BMUDA', 'PNG', 'USAWI', 'CANWI', 'USA', 'ENGSCOT', 'NAM', 'NEPAL',
       'OMAN', '3)', 'HKGNZ', 'NLSA', 'EAf', 'SAUSA', '1)', nan],
      dtype=object)

In [97]:
# drop null columns
batting_df.dropna(axis=0,inplace=True)
ind=batting_df[(batting_df['Nation']=="3)" )|(batting_df['Nation']=="1)" )].index
batting_df.drop(ind,inplace=True)

In [98]:
batting_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Nation
0,SR Tendulkar,1989-2012,463,452,41,18426,200,44.83,21367,86.23,49,96,20,INDIA
1,KC Sangakkara,2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,SL
2,RT Ponting,1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,AUS
3,ST Jayasuriya,1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,SL
4,DPMD Jayawardene,1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2362,R Pathan,2013-2013,1,1,0,2,2,2.00,9,22.22,0,0,0,SA
2364,ACL Richards,2007-2007,1,1,0,2,2,2.00,2,100.00,0,0,0,WI
2366,JNK Shannon,2013-2013,1,1,0,2,2,2.00,8,25.00,0,0,0,NAM
2367,GJ Thompson,2008-2008,3,2,0,2,2,1.00,21,9.52,0,0,1,SA
2368,PIC Thompson,1997-1997,2,1,0,2,2,2.00,7,28.57,0,0,0,BDESH

In [99]:
# Save file PreProcessed file
batting_df.to_csv("new_batting.csv",index=False)

# ANALYSIS

In [100]:
df=pd.read_csv("new_batting.csv")

In [101]:
df.head(2)

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Nation
0,SR Tendulkar,1989-2012,463,452,41,18426,200,44.83,21367,86.23,49,96,20,INDIA
1,KC Sangakkara,2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,SL

In [102]:
def Country_Wise_Runs(df):
    country=[]
    runs=[]
    nation=df['Nation'].unique()
    data=pd.DataFrame()
    for i in nation:
        x=df[df['Nation']==i]['Runs'].sum()
        country.append(i)
        runs.append(x)
    data['Country']=country
    data['Runs']=runs
    return data

In [103]:
mat_10=df.sort_values(by="Mat",ascending=False)
mat_10[['Player','Mat']].head(10)

                Player  Mat
0        SR Tendulkar   463
4    DPMD Jayawardene   448
3       ST Jayasuriya   445
1       KC Sangakkara   404
30      Shahid Afridi   398
5      Inzamam-ul-Haq   378
2          RT Ponting   375
120       Wasim Akram   356
10           MS Dhoni   350
506    M Muralitharan   350

In [104]:
def sort_record(df,feature):
    df=df.rename(columns={"Player":"Name","HS":"Highest Score","Ave":"Average","SR":"Strike Rate","100":"100s","50":"50s"})
    top_10=df.sort_values(by=feature,ascending=False)
    top_10=top_10.head(10)
    return top_10[['Name',feature]]

In [105]:
sort_record(df,"100s")

               Name  100s
0     SR Tendulkar     49
6          V Kohli     43
2       RT Ponting     30
3    ST Jayasuriya     28
19       RG Sharma     28
28         HM Amla     27
1    KC Sangakkara     25
16  AB de Villiers     25
11        CH Gayle     25
13      TM Dilshan     22

In [107]:
df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', 'Nation'],
      dtype='object')

In [145]:
def player_stats_batting(df,name):
    x=df[df['Player']==name]
    Span=x['Span'].values[0]
    Matches=x['Mat'].values[0]
    Innings=x['Inns'].values[0]
    Runs=x['Runs'].values[0]
    Highest_Score=x['HS'].values[0]
    Average=x['Ave'].values[0]
    Strike_Rate=x['SR'].values[0]
    Hundreds=x['100'].values[0]
    Fifties=x['50'].values[0]
    Nation=x['Nation'].values[0]
    return Span,Matches,Innings,Runs,Highest_Score,Average,Strike_Rate,Hundreds,Fifties,Nation

In [146]:
player_stats_batting(df,"SR Tendulkar ")

('1989-2012', 463, 452, 18426, 200, 44.83, 86.23, 49, 96, 'INDIA')